In [1]:
import pyspark

spark = pyspark.sql.SparkSession.builder.getOrCreate()

In [6]:
import pandas as pd

pd_df = pd.DataFrame({'col1': ['r1c1', 'r2c1', 'r3c1'],
                      'col2': ['r1c2', 'r2c2', 'r3c2'],
                      'col3': ['r1c3', 'r2c3', 'r3c3']
                     })

In [7]:
pd_df

   col1  col2  col3
0  r1c1  r1c2  r1c3
1  r2c1  r2c2  r2c3
2  r3c1  r3c2  r3c3

In [8]:
sp_df = spark.createDataFrame(pd_df)

In [9]:
sp_df.show()

+----+----+----+
|col1|col2|col3|
+----+----+----+
|r1c1|r1c2|r1c3|
|r2c1|r2c2|r2c3|
|r3c1|r3c2|r3c3|
+----+----+----+